body{
    background: #EAEBED;

}
.picture {
    border-radius: 250px;
}

.about-me {
    color: #60656F;
}

.top-header {
    color: #006989;
}

.red-header {
    color: #279AF1;

}

.think-about {
    color: #01A7C2;

}

nav a {
    color: #26547C;
}

.header {
    background: rgb(204, 207, 207);
}
