.body {
    background: #EAEBED;

}

.header {
    background: rgb(204, 207, 207);
}

.navigation {

}

.navigation__link {
    
}

.navigation__title {

}

.main {
    max-width: 400px;
    margin: 0 auto;


}

.about-me {
    color: #60656F;
}

.about-me__header {
    color: #006989

}

.about-me__image {
   border-radius: 270px;
}

.about-me__description {

}

.frontend {

}

.frontend__title {
    color: #279AF1;


}

.frontend_article {

}

.frontend__subtitle {
    color: #01A7C2
}

.frontend__description {

}

.frontend__article-2 {

}

.frontend__subtitle-2 {

}

.frontend__description-2 {

}

.frontend-road {

}

.frontend-road__title {

}

.frontend-road__article {

}

.frontend-road__subtitle {

}

.frontend-road__description {

}

.frontend-road__article-2 {

}

.frontend-road__subtitle-2 {

}

.frontend-road__description-2 {

}

.frontend-road__article-3 {

}

.frontend-road__subtitle-3 {

}

.frontend-road__description-3 {

}

.footer {
    color: #60656F
}

.html {

}

.html__title {

}

.html__image {

}

.html__subtitle {

}

.html__description {

}

.css {

}

.css__title {

}

.css__image {

}

.css__subtitle {

}

.css__description {

}

.js {

}

.js__title {

}

.js__image {

}

.js__subtitle {

}

.js__description {

}



