html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
    background: #603A40;
    
}

.header {
  padding: 17px;
  margin-bottom: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation__link {
  margin-left: 40px;
  border-left: 22px solid #90323D;
  color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding-left: 3px;
}

.navigation__link--change {
  font-weight: bold;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.header-div__register {
  position: absolute;
  top: 90px;
  padding: 13px;
  border-radius: 3px;
  background: #eaeaea;
  text-decoration: none;
  color: #440D0F;
  -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;


}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.about-me {
  background: #D9CAB3;
  width: 800px;
  height: 350px;
  margin-bottom: 40px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.about-me__header {
  text-align: center;
  color: #90323D;
  position: relative;
  top: 10%;
}

.about-me__image {
  border-radius: 270px;
  width: 350px;
  height: 350px;
  float: right;
  display: block;
  margin-left: 10px;
}

.about-me__description {
  position: relative;
  top: 20%;
  text-align: center;
  color: #440D0F;
  padding-left: 15px;
  line-height: 25px;
}

.frontend-road {
  background: #D9CAB3;
  margin-bottom: 25px;
  width: 800px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.frontend-road__image {
  width: 40px;
  height: 40px;
  position: relative;
  top: 55px;
  left: 200px;
}

.frontend-road__title {
  text-align: center;
  color: #4E5166;
}

.frontend-road__article {
  margin-bottom: 20px;
}

.frontend-road__subtitle {
  color: #22333b;
}

.frontend-road__description {
  color: #440D0F;
  line-height: 25px;
}

.frontend-road__article--first {
  border-left: 4px solid #1c72ac;
  padding-left: 5px;
}

.frontend-road__article--second {
  border-left: 4px solid #fa0505;
  padding-left: 5px;
}

.frontend-road__article--third {
  border-left: 4px solid #f804c3;
  padding-left: 5px;
}

.footer {
  background: #90323D;
  font-family: monospace;
  text-align: center;
  color: #1c72ac;
  padding: 5px;
}

.footer__text {
    color: #ffffff;
}

.html {
  background: #D9CAB3;
  display: flex;
  flex-direction: column;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.header-html {
  margin-bottom: 40px;
}

.header-html__title {
  color: #90323D;
  font-family: sans-serif;
  text-align: center;
}

.header-html__image {
  width: 800px;
}

.html__image {
  width: 40px;
  height: 40px;
  position: relative;
  top: 55px;
  left: 250px;
}

.html__subtitle {
  color: #315ba8;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;

}

.html__description {
  border-left: 4px solid #1c72ac;
  padding: 5px;
  color: #22333b;
}

.css {
    display: flex;
    flex-direction: column;
}

.css__title {
    text-align: center;
}

.css__image {
}

.css__subtitle {
}

.css__description {
}

.js {
}

.js__title {
  text-align: center;
}

.js__image {
  position: relative;
  left: 110px;
}

.div-fb {
  position: fixed;
  top: 100px;
}

.js__subtitle {
}

.js__description {
}

.form {
  width: 600px;
}

.form__input {
  display: block;
  width: 50%;
}

.label {

}

.label__textarea {
  width: 100%;
  height: 100px;
}