html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
   
.body {

    background: linear-gradient(0deg, rgba(180,182,186,1) 0%, rgba(217,217,219,1) 50%, rgba(234,235,237,1) 86%, rgba(234,235,237,1) 99%);

}

.header {
    background: #cccfcf;
    padding: 17px;
    margin-bottom: 30px;
    max-height: 400px;
    border: 1px solid #315ba8;

}

.navigation {

}

.navigation__link {
    padding-left: 60px;
    color: #1c72ac;
    font-family: monospace;
    font-size: 15px;

    
}

.main {
    max-width: 800px;
    margin: 0 auto;


}

.main__title {
    margin: 20px 0;
    text-align: right;
    color: #315ba8;
    font-family: sans-serif;


}

.about-me {
    background: #cccfcf;
    width: 800px;
    height: 350px;
    border: 1px solid #a5a3a322;
    
}

.about-me__header {
    text-align: right;
    color: #315ba8;
    position: relative;
    top: 10%;

}

.about-me__image {
    border-radius: 270px;
    width: 350px;
    height: 350px;
    float: right;
    display: block;
    margin-left: 10px;
}

.about-me__description {
    position: relative;
    top: 20%;
    text-align: right;
    color: #22333B;

}



.frontend-road {
    margin: 40px 0;
    width: 800px;

}

.frontend-road__image {
    width: 40px;
    height: 40px;
    position: relative;
    top: 55px;
    left: 200px;

}

.frontend-road__title {
    text-align: center;
    color: #315ba8;

}

.frontend-road__article {

}

.frontend-road__subtitle {

}

.frontend-road__description {
    color: #22333B;


}

.frontend-road__article--first {
    border-left: 4px solid #1c72ac;
    padding-left: 5px;
}

.frontend-road__article--second {
    border-left: 4px solid #fa0505;
    padding-left: 5px;
}

.frontend-road__article--third {
    border-left: 4px solid #f804c3;
    padding-left: 5px;
}

.footer {
    background: #cccfcf;
    font-family: monospace;
    text-align: center;
    color: #1c72ac;
    padding: 20px;

}

.html {

}

.html__title {
    color: #315ba8;
    font-family: sans-serif;
    text-align: center;

}

.html__image {

}

.html__image2 {
    width: 40px;
    height: 40px;
    position: relative;
    top: 55px;
    left: 250px;
}

.html__subtitle {
    color: #315ba8;
    text-align: center;

}

.html__description {
    border-left: 4px solid #1c72ac;
    padding: 5px;
    color: #22333B;

}

.css {

}

.css__title {

}

.css__image {

}

.css__subtitle {

}

.css__description {

}

.js {

}

.js__title {
    text-align: center;

}

.js__image {
    position: relative;
    left: 110px;

}

.header__fb {
    position: fixed;
    top: 100px;
}

.js__subtitle {

}

.js__description {

}



